@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


:root {
    --backgroundColor: #F6F6E8;
    --title: #F6F6E8;
    --productText: #5B5C52;
    --placeHolder: #0B2627;
    --text: #A02929;
    
}

* {
    /* margin: 0; */
    box-sizing: border-box;
    /* padding: 0; */
}


body ,html{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.background-image {
    background-image: url('./images/background-image.jpg');
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
   position: absolute;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0, 0.4); 
   /* border: 3px solid #f1f1f1; */
   
   top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: inherit;
}


.title h1{
    color: var(--title);
    text-transform: uppercase;
    font-family: 'Josefin Sans' sans-serif;
    font-size: 25px;
    font-style: bold;
}


.title {
    display: flex;
    justify-content: center;
   /* background-color: blue; */
}

label {
    /* padding: 12px 12px 12px 0; */
    display: inline-block;
  }

.col-25 {
    width: 15%;
    float: left;
    margin-top: 20px;
}

.col-75 {
    width: 85%;
    float: left;
    margin-top: 20px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

input[type=text], [type=number], [type=date]{
    width: 70%;
    padding: 6px;
    border-radius: 4px;
    background-color: #5B5C52;
    resize: vertical;
}

input[type=number]{
    color: #F6F6E8;
}

input[type=text]{
    color: #F6F6E8;
}

input[type=date] {
    color: #F6F6E8;
}

input::placeholder{
    color: #F6F6E8
}

#name, #quantity, #product, #contact, #date{
    color: var(--text);
}

.submit {
    width: 85%;
    float: right;
    margin-top: 20px;

    /* background-color: #0B2627; */
}

input[type=button]{
    width: 70%;
    padding: 6px;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: inherit;
    background-color: #3c4207;
    color: #0B2627;
}

select {
    /* width: 690px; */
    height: 32px;
    width: 70%;
    padding: 6px;
    border-radius: 4px;
    background-color: #5B5C52;
    resize: vertical;
}

.pickup {
    color: var(--title);
    font-style: italic;
    font-size: 18px;
}

.form {
    margin-left: 120px;
    /* background-color: darkgrey; */
}

.fill-forms{
    color: var(--title);
    font-size: 18px;
    font-family: 'Josefin Sans' sans-serif;
    font-style: oblique;
}

.info {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 595px;
    /* height: 200px; */
}

.pickup {
    display: flex;
    justify-content: space-between;
}

.txt{
    color: #F6F6E8;
    font-style: italic;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* background-color: #F6F6E8; */
    width: 100%;
    height: 100%;
}

p{
    color: var(--text);
}

.circle-logo img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .circle-logo {
    position: absolute;
    left: 1%;
    bottom: 18%;
  }

  .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer {
    background-color: #0B2627;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0; 
  }



